
.icon-irc:before { content: '\e800'; } /* '' */
.icon-raptr:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-twitter-1:before { content: '\e804'; } /* '' */
.icon-facebook-1:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-spiceworks:before { content: '\e808'; } /* '' */
.icon-book-open:before { content: '\e809'; } /* '' */
.icon-goodreads:before { content: '\e80a'; } /* '' */