
.icon-bdsm_logo:before { content: '\e800'; } /* '' */
.icon-sa_logo:before { content: '\e801'; } /* '' */
.icon-kinkipedia:before { content: '\e802'; } /* '' */
.icon-crossed-swords:before { content: '\e803'; } /* '' */
.icon-raptr:before { content: '\e804'; } /* '' */